*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #000;
}

header{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    font-size: clamp(.7rem, 2vw, 2rem);
    font-weight: 800;   
    color: #fff; 
}


.formulario {
    width: 60%;
    margin: 0 auto;
}

.form{
        /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 70px 70px 70px 70px;
    gap: 10px;
    padding: 22px 71px;
    margin: 0 auto;
}

input[type="text"], input[type='email']{
    width: 22em;
    height: 40px;
    
}

label {
    
    font-size: 1.2rem;
    text-align: right;
    color: #fff;
}



@media screen and (max-width: 1200px){

    header{
        width: 60%;
    }
    .formulario{
        width: 60%;
    }

    .form{
        width: 100%;
    }

    .contact{
        width: 100%;
        *font-size: 1rem;
    }

    .btn button{
        position: relative;
        left: 40px;
        top: 22px;
    }

    input[type="text"], input[type='email']{
        width: 18em;
        height: 40px;
        
    }
    
    section .descripcion{
        width: 18em;
        height: 80px;
}

@media screen and (max-width: 1000px){

    header{
        width: 60%;
    }
    .formulario{
        width: 60%;
    }

    .form{
        width: 100%;
    }

    .contact{
        width: 100%;
    }

    .btn button{
        position: relative;
        left: 30px;
        top: 22px;
        width: 8em;
        height: 80px;
    }

    input[type="text"], input[type='email']{
        width: 15em;
        height: 40px;
        
    }
    
    section .descripcion{
        width: 15em;
        height: 80px;
}

@media screen and (max-width: 900px){

    header{
        width: 60%;
    }
    .formulario{
        width: 60%;
        grid-template-columns: 1fr;
        
    }

    .form{
        width: 100%;
    }

    .contact{
        width: 100%;
        margin-top: -120px;
    }

    .btn button{
        position: relative;
        left: 30px;
        top: 22px;
        width: 8em;
        height: 80px;
    }

    input[type="text"], input[type='email']{
        width: 15em;
        height: 40px;
        
    }
    
    section .descripcion{
        width: 15em;
        height: 80px;
}


@media screen and (max-width: 580px){

    header{
        width: 60%;
        margin: 0 auto;
    }
    .formulario{
        width: 60%;
        grid-template-columns: 1fr;
        height: 1300px;
        
    }

    .form{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 70px 70px 70px 70px;        
        height: 700px;
    }

    .contact{
        width: 100%;
        margin-top: -287px;
        
    }

    .btn button{
        position: relative;
        left: 38px;
        top: 10px;
        width: 10em;
        height: 60px;
    }

    input[type="text"], input[type='email']{
        width: 19em;
        height: 40px;
        
    }
    
    section .descripcion{
        width: 19em;
        height: 80px;
    }
}

@media (hover: hover) {
        .btn button:hover{
            background: rgba(15, 99, 227, 0.72);
            border: 1px solid rgba(13, 54, 114, 0.72);
        }
}


}